<p-growl [(value)]="msgs"></p-growl>
<div class="ui-g">
  <div class="ui-g-12 ui-md-12 ui-sm-12">
    <form [formGroup]="contactSearchForm" (ngSubmit)="onSearch()">
      <div class="ui-inputgroup">
        <input type="text" pInputText class="form-control" placeholder="Search Contacts" formControlName="searchVal">
        <button pButton type="submit" icon="fa-search"></button>
        <button pButton type="button" icon="fa-times" class="ui-button-danger" (click)="clearSearch()"></button>
      </div>
    </form>
  </div>
  <div class="ui-g-12 ui-md-12 ui-sm-12">
    <p-dataList [value]="(contactsState | async).contacts">
      <p-header>List of Contacts</p-header>
      <ng-template let-contact pTemplate="item" let-i="index">
        <div class="ui-g ui-fluid" [routerLink]="['/contacts', i]" style="cursor: pointer;">
          <div class="ui-g-12 ui-md-3 text-center" style="cursor: pointer;">
            <img class="img-thumbnail" [src]="contact.photo" alt="..." style="height: 80px; margin: 15px 0;">
          </div>
          <div class="ui-g-12 ui-md-9">
            <div class="ui-g">
              <div class="ui-g-2 ui-sm-6">Name:</div>
              <div class="ui-g-10 ui-sm-6 text-capitalize">{{contact.firstname}} {{contact.lastname}}</div>
              <div class="ui-g-2 ui-sm-6">Phone:</div>
              <div class="ui-g-10 ui-sm-6">{{contact.phone}}</div>
              <div class="ui-g-2 ui-sm-6">Cell:</div>
              <div class="ui-g-10 ui-sm-6">{{contact.cell}}</div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataList>

    <div style="margin: 10px 0;">
      <button pButton icon="fa-plus" iconPos="left" (click)="onAdd()" label="Add"></button>

      <button pButton (click)="storeData()" class="ui-button-success" label="Save Contacts"></button>

      <button pButton (click)="getData()" class="ui-button-danger" label="Get Contacts"></button>
    </div>
  </div>
</div>
