<p-confirmDialog header="Confirmation" icon="fa fa-question-circle"></p-confirmDialog>
<div class="ui-g">
  <div class="ui-g-12 ui-md-2">
    <img [src]="contact.photo" class="img-fluid">
  </div>
  <div class="ui-g-12 ui-md-10">
    <div>
      <label>Title:</label>{{contact.title}}</div>
    <div>
      <label>First Name:</label>{{contact.firstname}}</div>
    <div>
      <label>Last Name:</label>{{contact.lastname}}</div>
    <div>
      <label>Phone:</label>{{contact.phone}}</div>
    <div>
      <label>Cell:</label>{{contact.cell}}</div>
    <div>
      <label>Email:</label>{{contact.email}}</div>
    <div>
      <label>Date of Birth:</label>{{contact.dob | date}}</div>
    <div class="text-capitalize">
      <label>Gender:</label>{{contact.gender}}</div>
    <div>
      <label>Nationality:</label>{{contact.nat}}</div>
    <div>
      <button pButton label="Edit" (click)="editContact()"></button>
      <button pButton class="ui-button-danger" label="Delete" (click)="deleteContact()"></button>
    </div>
  </div>


</div>
