
<mat-sidenav-container>
  <mat-toolbar color="primary">
    <span>Angular Contacts</span>
    <button type="button" mat-icon-button (click)="sidenav.toggle()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <!--<span>Right Aligned Text</span>-->
  </mat-toolbar>
  <mat-sidenav mode="over" #sidenav class="sidenav">
    <mat-list>
      <mat-list-item>
        <a mat-button [routerLink]="['/home']" (click)="sidenav.close()">Home</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-button [routerLink]="['/contacts']" (click)="sidenav.close()">Contacts</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
